@using CustomerFinderMVCWebSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link rel="stylesheet" href="~/Content/login.css" />

<h1>User Login</h1>
<div class="avtar">
    <img src="images/avtar.png">
</div>
<!---728x90--->
<div class="login-form">
    <p>New user?<a href="#">Register here!</a></p>
    <div>
        <div class="form-text">

            <div class="span"><a href="#"><img src="images/facebook.png" alt=""><i>Sign In with Facebook</i><div class="clear"></div></a></div>

            <div class="row">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
        

    </div>
</div>
<!---728x90--->
<!--/User-Login-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}