@{
    ViewBag.Title = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/Content/home.css" />

    <div id="video" class="video">
        <div class="video-container" style="position: relative;">
            <video autoplay loop muted class="video-bg-hero" style="position: relative; z-index: 0; height: auto; width: 100%; vertical-align: middle;">
                <source src="video/test.mp4" type="video/mp4">
            </video>
            <div id="opacity"></div>
            <div id="bg-video"></div>
            <div class="overlay-desc" style="color: white; padding-bottom:240px">
                <h2>PROFESSIONALS IN INFORMATION TECHNOLOGIES</h2>
            </div>
            <div class="overlay-desc" style="color: white; text-align: center;">
                <p style="font-size: 17px;">
                    Customer Finder by PTI Costa Rica allows you to get to know<br>
                    you current and future customers.
                </p>
            </div>
            <div class="overlay-desc" style="padding-top: 191px">
                <button id="view-more" class="btn btn-primary">VIEW MORE</button>
            </div>
        </div>
    </div>

    <div id="service" class="parallax-container SERVICE">
        <div class="parallax content container" style="color:white; width:100%; height: 258px">
            <div class="container">
                <div class="row" style="padding-top: 72px;">
                    <section class="col-sm-4">
                        <span class="glyphicon glyphicon-service glyphicon-record" aria-hidden="true" style="font-size: 40px; padding-bottom: 28px"></span>
                        <p style="font-size: 14px">Identify potential new customers.</p>
                    </section>

                    <section class="col-sm-4">
                        <span class="glyphicon glyphicon-service glyphicon-user" aria-hidden="true" style="font-size: 40px; padding-bottom: 28px"></span>
                        <p style="font-size: 14px">
                            Make your current customers your<br>
                            friends, not just your customers.
                        </p>
                    </section>

                    <section class="col-sm-4">
                        <span class="glyphicon glyphicon-service glyphicon-stats" aria-hidden="true" style="font-size: 40px; padding-bottom: 28px"></span>
                        <p style="font-size: 14px">
                            Gather insights to create direct<br>
                            marketing campaigns.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <section ID="works" class="padding-90px-tb bg-dark-gray builder-bg xs-padding-60px-tb">
        <div class="container">

            <div class="section-title">
                <h2 class="system-work">HOW IT WORKS OUR SYSTEM</h2>
            </div>

            <div class="row equalize xs-equalize-auto equalize-display-inherit">
                <!-- feature box -->
                <div class="col-md-4 col-sm-4 col-xs-12 display-table xs-margin-nineteen-bottom" style="height: 560px;">
                    <div class="display-table-cell-vertical-middle">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 margin-twelve-bottom text-center system-features" data-feature="./images/caracteristicas.png">
                                <i class="glyphicon-works glyphicon glyphicon-record margin-two-bottom text-blue title-extra-large tz-icon-color"></i>
                                <h3 class="text-large font-weight-600 margin-six-bottom xs-margin-two-bottom text-dark-gray tz-text">Lorem Ipsum</h3>
                                <div class="text-medium tz-text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 margin-twelve-bottom text-center system-features" data-feature="./images/reptiles.jpg">
                                <i class="glyphicon-works glyphicon glyphicon-user margin-two-bottom text-blue title-extra-large tz-icon-color"></i>
                                <h3 class="text-large font-weight-600 margin-six-bottom xs-margin-two-bottom text-dark-gray tz-text">Lorem Ipsum</h3>
                                <div class="text-medium tz-text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center system-features" data-feature="./images/cara-feliz.png">
                                <i class="glyphicon-works glyphicon glyphicon-stats margin-two-bottom text-blue title-extra-large tz-icon-color"></i>
                                <h3 class="text-large font-weight-600 margin-six-bottom xs-margin-two-bottom text-dark-gray tz-text">Lorem Ipsum</h3>
                                <div class="text-medium tz-text"><p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 display-table col-xs-12" style="height: 560px;">
                    <div class="display-table-cell-vertical-middle" style="padding-top: 170px;">
                        <img id="imagen" class="img-responsive margin-lr-auto" src="images/caracteristicas.png" alt="">
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 display-table" style="height: 560px;">
                    <div class="display-table-cell-vertical-middle">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 margin-twelve-bottom text-center system-features" data-feature="./images/imagen_contact_us.jpg">
                                <i class="glyphicon-works glyphicon glyphicon-record margin-two-bottom text-blue title-extra-large tz-icon-color"></i>
                                <h3 class="text-large font-weight-600 margin-six-bottom xs-margin-two-bottom text-dark-gray tz-text">Lorem Ipsum</h3>
                                <div class="text-medium tz-text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 margin-twelve-bottom text-center system-features" data-feature="./images/franja_celeste2.jpg">
                                <i class="glyphicon-works glyphicon glyphicon-user margin-two-bottom text-blue title-extra-large tz-icon-color"></i>
                                <h3 class="text-large font-weight-600 margin-six-bottom xs-margin-two-bottom text-dark-gray tz-text">Lorem Ipsum</h3>
                                <div class="text-medium tz-text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center system-features" data-feature="./images/franja_celeste_lg.jpg">
                                <i class="glyphicon-works glyphicon glyphicon-stats margin-two-bottom text-blue title-extra-large tz-icon-color"></i>
                                <h3 class="text-large font-weight-600 margin-six-bottom xs-margin-two-bottom text-dark-gray tz-text">Lorem Ipsum</h3>
                                <div class="text-medium tz-text"><p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="youtube" class="bg-white builder-bg padding-110px-tb xs-padding-60px-tb" style="padding-bottom: 51px !important;">
        <div class="container container-youtube">

            <div class="section-title">
                <h2 class="youtube-channel">OUR YOUTUBE CHANNEL</h2>
            </div>

            <div id="unix" data-ycp_title="PTI Costa Rica" data-ycp_channel="9rPJeRF7S_8&list=PLGPt1G9l1Tyyyk13UCJu-StfjwBOC6GCV">
                <div class="ycp">
                    <div class="belah ycp_vid_play" title="Play video" style="background: url(&quot;https://i.ytimg.com/vi/j053sVoFeUM/hqdefault.jpg&quot;) 0% 0% / no-repeat;">
                        <iframe src="//www.youtube.com/embed/CoD01fv58d0?rel=1&amp;autoplay=1" allowfullscreen="" frameborder="0" class="bingkay"></iframe>
                    </div>
                    <div class="belah" id="ycp_youtube_channels0">
                        <div class="luhur">
                            <div class="title">PTI Costa Rica</div>
                            <span class="tombol vid-prev" title="Previous videos">Prev</span>
                            <span class="tombol vid-next" title="Next videos">Next</span>

                        </div>
                        <div class="handap">

                            <div class="play" data-vvv="j053sVoFeUM" data-img="https://i.ytimg.com/vi/j053sVoFeUM/hqdefault.jpg" title="PTI Costa Rica Services">
                                <div class="thumb">
                                    <img src="https://i.ytimg.com/vi/j053sVoFeUM/hqdefault.jpg" alt=" "><span class="tm6">1:20</span>
                                </div>
                                <div class="title">PTI Costa Rica Services</div>
                                <span class="mute by6">by PTI Costa Rica</span>
                                <br>
                                <span class="mute views6">20 views</span>
                                <span class="mute">-</span>
                                <span class="mute date6">6 months ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="pricing" class="bg-white builder-bg padding-110px-tb xs-padding-60px-tb" style="padding-bottom: 110px !important;">
        <div class="container">

            <div class="section-title">
                <h2 class="system-work">PRICING</h2>
            </div>

            <div class="row">
                <div class="pricing-box-style4 display-inline-block width-100">
                    <!-- pricing item -->
                    <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12 text-center xs-margin-nine-bottom">
                        <div class="pricing-box">
                            <!-- pricing title -->
                            <!--  <div class="pricing-title text-center">
                                <h3 class="alt-font text-large text-dark-gray tz-text">FREE</h3>
                            </div> -->
                            <!-- end pricing title -->
                            <!-- pricing price -->
                            <div class="pricing-price bg-white builder-bg">
                                <h4 class="title-extra-large-2 text-blue">FREE</h4>
                                <div class="alt-font" style="font-weight: 500 !important;font-size: 13px;color: #6f6f6f;"> <p>PER EVERY YEAR</p> </div>
                            </div>
                            <!-- end pricing price -->
                            <!-- pricing features -->
                            <div class="pricing-features" style="padding: 10px 40px;">
                                <ul class="pricing-features-list">
                                    <li class="detail-border"><span class="tz-text">1 GB Photos</span></li>
                                    <li class="detail-border"><span class="tz-text">Secure Online Transfer</span></li>
                                    <li class="detail-border"><span class="tz-text">Unlimited Styles</span></li>
                                    <li class="detail-border"><span class="tz-text">Customer Service</span></li>
                                    <li class="detail-border"><span class="tz-text">Manual Backup</span></li>
                                </ul>
                                <!-- pricing action -->
                                <div class="pricing-action">
                                    <a class="btn btn-primary cta-button btn-lg" href="#"><span class="tz-text">CHOOSE PLAN</span></a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                            <div class="underline">
                                <a href="#contact">Contact us</a>
                            </div>
                        </div>
                    </div>
                    <!-- end pricing item -->
                    <!-- pricing item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="pricing-box">
                            <!-- pricing title -->
                            <!--  <div class="pricing-title text-center">
                                 <h3 class="alt-font text-large text-dark-gray tz-text">BASIC</h3>
                             </div> -->
                            <!-- end pricing title -->
                            <!-- pricing price -->
                            <div class="pricing-price bg-white builder-bg">
                                <h4 class="title-extra-large-2 text-blue">BASIC</h4>
                                <div class="alt-font" style="font-weight: 500 !important;font-size: 13px;color: #6f6f6f;"> <p>PER EVERY YEAR</p> </div>
                            </div>
                            <!-- end pricing price -->
                            <!-- pricing features -->
                            <div class="pricing-features" style="padding: 10px 40px;">
                                <ul class="pricing-features-list">
                                    <li class="detail-border"><span class="tz-text">2 GB Photos</span></li>
                                    <li class="detail-border"><span class="tz-text">Secure Online Transfer</span></li>
                                    <li class="detail-border"><span class="tz-text">Unlimited Styles</span></li>
                                    <li class="detail-border"><span class="tz-text">Customer Service</span></li>
                                    <li class="detail-border"><span class="tz-text">Manual Backup</span></li>
                                </ul>
                                <!-- pricing action -->
                                <div class="pricing-action">
                                    <a class="btn btn-primary cta-button btn-lg"><span>CHOOSE PLAN</span></a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                            <div class="underline">
                                <a href="#contact">Contact us</a>
                            </div>
                        </div>
                    </div>
                    <!-- end pricing item -->
                </div>
            </div>
        </div>
    </section>

    <div id="testimonials">
        <div class="container">
            <div class="row">
                <div class="testimonial-style3 owl-carousel owl-theme owl-dark-pagination">

                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="margin-ten-bottom">
                                <img class="img-round-100" src="images/avtar-11.jpg">
                            </div>
                            <div class="text-white font-weight-600">MELISSA SMITH - GOOGLE</div>
                            <div class="margin-ten-bottom text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.</div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="margin-ten-bottom">
                                <img class="img-round-100" src="images/avtar-10.jpg">
                            </div>
                            <div class="text-white font-weight-600" style="color: white;">JEREMY GIRARD - MICROSOFT</div>
                            <div class="margin-ten-bottom text-white" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.</div>

                        </div>
                    </div>


                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="margin-ten-bottom">
                                <img class="img-round-100" src="images/avtar-12.jpg">
                            </div>
                            <div class="text-white font-weight-600" style="color: white;">PAUL SCRIVENS - FACEBOOK</div>
                            <div class="margin-ten-bottom text-white" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.</div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="margin-ten-bottom">
                                <img class="img-round-100" src="images/avtar-13.jpg">
                            </div>
                            <div class="text-white font-weight-600" style="color: white;">NATHAN FORD - GOOGLE</div>
                            <div class="margin-ten-bottom text-white" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.</div>

                        </div>
                    </div>


                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="margin-ten-bottom">
                                <img class="img-round-100" src="images/avtar-01.jpg">
                            </div>
                            <div class="text-white font-weight-600" style="color: white;">MELISSA SMITH - GOOGLE</div>
                            <div class="margin-ten-bottom text-white" style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.</div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
  


    <div id="contact" class=" parallax container" style="background-image: url('images/imagen_contact_us.jpg'); color:white; max-width:100%; height: 447px">

        <div class="row">
            <section class="col-xs12" style="color:black;">

                <div class="text-center" style="padding: 15px">
                    <H2>CONTACT US</H2>
                </div>

            </section>
            <section class="col-md-5 col-sm-6 col-xs-12 col-sm-offset-1" style="color:black;">
                <form style="padding-left: 212px;">
                    <div class="form-group">
                        <label for="inputName">YOUR NAME</label>
                        <label class="asterisc">*</label>
                        <input class="form-control" type="text" id="inputName">

                        <label for="inputPhone">YOUR PHONE</label>
                        <label class="asterisc">*</label>
                        <input class="form-control" type="text" id="inputPhone">

                        <label for="inputEmail">YOUR EMAIL</label>
                        <label class="asterisc">*</label>
                        <input class="form-control" type="text" id="inputEmail">
                    </div>

                    <h5 style="color: gray">*Obligatory field</h5>
                </form>
            </section>
            <section class="col-md-5 col-sm-6 col-xs-12" style="color:black;">
                <form style="padding-right: 242px;">
                    <div class="form-group">
                        <label for="inputCompanyName">YOUR COMPANY NAME</label>
                        <label class="asterisc"> *</label>
                        <input class="form-control" type="text" id="inputCompanyName">

                        <label for="inputComments">YOUR MESSAGE</label>
                        <textarea class="form-control" id="inputComments" rows="5"></textarea>
                    </div>
                    <input class="btn btn-primary pull-right" type="submit" value="SEND MESSAGE">
                </form>
            </section>
        </div>
    </div>

    

